asgiref==3.8.1
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.3
Django==5.2.1
django-extensions==4.1
googlemaps==4.10.0
idna==3.10
networkx==3.5
numpy==2.2.6
oracledb==3.1.1
psycopg2==2.9.10
pycparser==2.22
python-decouple==3.8
requests==2.32.3
setuptools==78.1.1
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.4.0
wheel==0.45.1
